<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <a href="/inv/detail/100">Error Link</a>
  <!-- The error link uses an MVC approach trough the (vehicle in) inventory route, controller, model and utility function. -->
</footer>