<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Victor Manuel Malpica Castro">
  <meta
    name="description"
    content="The house of the best cars in the world.">
  <meta property="og:title" content="CSE Motors">
  <meta property="og:type" content="website">
  <meta
    property="og:image"
    content="https://images.pexels.com/photos/63294/autos-technology-vw-multi-storey-car-park-63294.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
  <meta property="og:url" content="https://cse340-web-service-nbck.onrender.com">
  <title><%- title %></title>
  <link rel="icon" href="/images/site/favicon-32x32.png">
  <link rel="stylesheet" href="/css/styles.css" media="screen">
  <link rel="stylesheet" href="/css/larger.css" media="screen">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>