@media only screen and (min-width: 1023px) {
    #wrapper {
        background-image: url('../images/site/small_check.jpg');
        padding: 35px; 
    }
    #top-header {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-top: 5px solid var(--color-secondary);
    }
    nav {
        width: 95%;
        padding: 0px 10px;
    }
    footer {
        margin-top: -5px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom: 5px solid var(--color-secondary);
    }
    #main-section, #top-header, footer {
        padding: 15px;
    }
    nav, #main-section, #top-header, footer {
        background-color: var(--color-accent1);
        border-left: 5px solid var(--color-secondary);
        border-right: 5px solid var(--color-secondary);
    }
    .reviews {
        grid-column: 2/3;
    }
    .upgrades {
        grid-column: 1/2;
    }
    .reviews, .upgrades {
        grid-row: 3/4;
    }
    #main-grid {
        margin-bottom: 25px;
        justify-self: center;
        width: 80%;
    }
    #main-section h1 {
        font-size: 2rem;
    }
    #main-section h1, #main-grid {
        grid-column: 1/3;
    }
    .specs {
        margin-top: 50px;
    }
    .specs .bkg {
        width: 53%;
    }
    .specs img {
        margin-top: 25px;
    }
    .specs h3, .specs li {
        font-size: 1.5rem;
    }
    #tools {
        margin-top: 10px;
      }
  }