@media only screen and (min-width: 1023px) {
    body {
        background-image: url('../images/site/small_check.jpg');
    }
    #wrapper {
        padding: 35px; 
    }
    #top-header {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-top: 5px solid var(--color-secondary);
    }
    nav {
        width: 95%;
        padding: 0px 10px;
    }
    nav a {
        font-size: 1.25rem;
    }
    footer {
        margin-top: -5px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom: 5px solid var(--color-secondary);
    }
    .frame, #top-header, footer {
        padding: 15px;
    }
    nav, .frame, #top-header, footer {
        background-color: var(--color-accent1);
        border-left: 5px solid var(--color-secondary);
        border-right: 5px solid var(--color-secondary);
    }
    /* Error page elements*/
    #error-ttl, #error-msg {
        grid-column: 1/3;
      }
    /* Home page elements*/
    .reviews {
        grid-column: 2/3;
    }
    .upgrades {
        grid-column: 1/2;
    }
    .upgrades h2 {
        margin-left: 6%;
    }
    .reviews, .upgrades {
        grid-row: 4/5;
    }
    #main-grid {
        margin-bottom: 25px;
        justify-self: center;
        width: 80%;
    }
    #main-title {
        font-size: 2rem;
    }
    #main-title, #main-grid {
        grid-column: 1/3;
    }
    .specs {
        margin-top: 50px;
    }
    .specs .bkg {
        width: 53%;
    }
    .specs img {
        margin-top: 25px;
    }
    .specs h2, .specs li {
        font-size: 1.5rem;
    }
    #tools {
        margin-top: 10px;
      }
    /* Inv Page elements */
    #inv-display {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 75px;
        padding: 10px 25px;
    }
    #inv-display li {
        width: 225px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #inv-display li a {
        margin: 0px 0px;
    }
    #inv-display .namePrice {
        margin-bottom: 10px;
    }
    /* vehicle page elements */
    #vehicle-section #info {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(6, auto);
        column-gap: 25px;
    }
    #vehicle-section #info img {
        grid-row: 1/7;
        margin-bottom: 0px;
      }
    #vehicle-section #info h2, #vehicle-section #info span, #vehicle-section #info p {
        grid-column: 2/3;
    }
    /*login page*/
    form {
        max-width: 600px;
    }
  }