/***** Change Box Model *****/
*,
*:before,
*:after {
  box-sizing: border-box;
}
/***** general elements *****/
:root {
  --main-fonts: Merriweather, Arial, sans-serif;
  --secondary-fonts: "Merriweather Sans", Cambria, serif;
  --color-main: #144e85;
  --color-secondary: #4c4b4b;
  --color-accent1: white;
  --color-accent2: black;
  --color-special1: #A80000;
  --color-special2: #455926;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#wrapper, nav ul, .specs ul, .upgrades ul, #inv-display {
  display: flex;
  justify-content: space-evenly;
}
#wrapper, nav ul, #inv-display {
  align-items: center;
}
#wrapper, .specs ul, #inv-display {
  flex-direction: column;
}
header a, p, h1, h2, h3 {
  color: var(--color-accent2);
}
nav a, a, h1, h2, h3, #vehicle-section #info span {
  font-family: var(--main-fonts);
}
p {
  font-family: var(--secondary-fonts);
}
header a, nav a {
  text-decoration: none;
}
nav ul, .specs ul, .upgrades ul, #inv-display {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: none;
}
nav ul {
  background-color: var(--color-main);
  padding: 10px;
}
nav a {
  color: var(--color-accent1);
  padding: 5px;
}
nav a:hover {
  border-radius: 10px;
  background-color: var(--color-accent1);
  color: var(--color-accent2);
}
#top-header {
  height: 75px;
  display: inherit;
  justify-content: space-between;
  align-items: inherit;
}
#top-header, nav, main, footer {
  width: 95%;
}
#top-header, nav ul {
  flex-direction: row;
}
.siteName {
  font-weight: bolder;
  font-size: 1.5rem;
  color: var(--color-secondary);
}
#tools {
  align-self: flex-start;
  margin-top: 25px;
}
#tools a {
  margin-left: 10px;
}
footer p {
  align-self: start;
}
#main-section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
}
#tools, nav a {
  font-size: 0.75rem;
}
.notice {
  margin-bottom: 25px;
}
.notice li {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  color: var(--color-special1);
}
.touched:valid {
  background-color: var(--color-special2);
  color: var(--color-accent1);
}
.touched:invalid {
  background-color: var(--color-special1);
  color: var(--color-accent1);
}
.touched:invalid::placeholder {
  color: var(--color-accent1);
}

/*** Error page elements ***/
#error-ttl {
  grid-row: 1/2;
}
#error-msg {
  grid-row: 2/3;
}
#error-ttl, #error-msg {
  grid-column: 1/3;
  justify-self: center;
}
/**** Main page elements ****/
#main-title, #main-section #messages, #main-grid {
  grid-column: 1/2;
}
#main-title {
  grid-row: 1/2;
  font-size: 1rem;
}
#main-section #messages {
  grid-row: 2/3;
}
#main-grid {
  grid-row: 3/4;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, auto);
}
.specs {
  grid-area: 1/1/2/2;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: auto;
  z-index: 1;
}
.specs .bkg {
  grid-row: 1/4;
  width: 49%;
  height: auto;
  background-color: var(--color-accent1);
  filter: opacity(75%);
}
.specs h2 {
  grid-row: 1/2;
  margin: 0;
  padding: 0;
}
.specs ul {
  grid-row: 2/3;
}
.specs img {
  grid-row: 3/4;
  width: 35%;
}
.bkg-img {
  grid-area: 1/1/3/3;
  width: 100%;
}
.reviews {
  grid-row: 4/5;
}
.reviews ul {
  padding-inline-start: 20px;
}
.reviews ul li{
  padding-bottom: 10px;
}
.upgrades {
  grid-row: 5/6;
  display: flex;
  flex-direction: column;
}
.upgrades ul {
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.upgrades ul li {
  display: inherit;
  flex-direction: column;
  width: 45%;
  justify-content: center;
  align-items: center;
}
.upgrades div {
  width: 95%;
  padding: 10px;
  background-color: var(--color-secondary);
  border: 3px solid var(--color-accent2);
  display: inherit;
  justify-content: inherit;
}
.upgrades img {
  height: 50px;
}
.upgrades a {
  margin-bottom: 20px;
}
.specs h2, .specs li {
  font-size: 0.75rem;
  color: var(--color-secondary);
  margin-bottom: 5px;
}
.specs h2, .specs ul, .specs img {
  z-index: 2;
}
.specs .bkg, .specs h2, .specs ul, .specs img {
  grid-column: 1/2;
}
/*** Inv page elements ***/
#inv-display {
  gap: 25px;
  margin-bottom: 25px;
}
#inv-display li {
  width: 90%;
  border-radius: 25px;
  border: 5px solid var(--color-accent2);
  text-align: center;
  box-shadow: 15px 15px 5px var(--color-secondary);
  margin-bottom: 10px
}
#inv-display li a {
  display: block;
  margin: 0 auto;
  font-size: 1rem;
}
#inv-display li a img {
  width: 100%;
  height: auto;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom: 5px solid var(--color-accent2);
}
#inv-display .namePrice {
  text-align: center;
  padding: 5px 5px 20px 5px;
}
/** vehicle page elements **/
#vehicle-section #info {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(7, auto);
  padding: 10px;
}
#vehicle-section #info span {
  font-weight: bold;
  padding-bottom: 10px;
}
#vehicle-section #info img {
  grid-row: 1/2;
  border-radius: 15px;
  width: 100%;
  justify-self: center;
  margin-bottom: 35px;
}
#vehicle-section #info h2{
  margin-top: 0px;
}
#vehicle-section #info img,
#vehicle-section #info h2, #vehicle-section #info span, #vehicle-section #info p {
  grid-column: 1/2;
}
form {
  box-shadow: 15px 15px 5px var(--color-accent2);
  background-color: var(--color-main);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 15px 25px;
  gap: 0px;
  margin-bottom: 25px;
}
form label {
  margin-bottom: -10px;
}
form textarea {
  height: 125px;
}
form select {
  margin-bottom: 17px;
}
form, form select, form textarea {
  border-width: 2px;
  border-style: inset;
  /* border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
  border-color: rgb(118, 118, 118);
  border-image: initial;
}
form, form input, form select, form textarea {
  border-radius: 15px;
}
form input, form select, form textarea {
  padding: 5px 10px;
}
form input[type="submit"] {
  width: 100px;
  margin-bottom: 15px;
}
form input[type="submit"], form #registration {
  margin-top: 10px;
  align-self: center;
}
form label, form h2, form p, form p a, form li {
  color: var(--color-accent1);
}
form label, form h2, form p, form p a, form input, form li, form select {
  font-family: var(--main-fonts);
}
form textarea {
  font-family: var(--secondary-fonts);
}
form ul {
  margin-top: -5px;
}
/* Management page */
#management-links{
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-bottom: 50px;
  gap: 10px;
}
/* add classification view */
form input[value="Create Classification"], form input[value="Update Vehicle"], form input[value="Delete Vehicle"], form input[value="Update Password"], form input[value="Update Information"], form input[value="Delete Review"], form input[value="Update Review"], form input[value="Create Review"] {
  width: 175px;
}